<!doctype html>
<html>
<head>
    <title>Project Tracker</title>
</head>

<body>

  <form action="/student-addinfo" method="POST">
        <label>Enter first name
            <input type="text" name="first" required>
        </label>
        <label>Enter last name
         <input type="text" name="last" required>
        </label>
        <label>Enter GitHub username
            <input type="text" name="github" required>
        </label>
      <input type="submit" value="Add Student">
  </form>

</body>
</html>